testresults/
vars.json
qemu_state.json
base_state.json
backend.run
serial0
virtio_console.log
virtio_console_user.log
video.ogv
video_time.vtt
qemu.pid
ulogs/
*.qcow2
raid/
qemuscreenshot/
command-server-tmp/
autoinst-status.json
os-autoinst.pid
qmp_socket.log
